---
layout: default
published: true
---

<h1>{{ site.data.i18n[site.active_lang].news }}</h1>

<ul class="post-list">
	{% for post in site.posts %}
  		{% assign post_lang = post.lang | append: '' %}
		{% if post_lang == '' or post_lang == site.active_lang %}
    	<li>
    		<h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    		<span class="text-muted">
				{% if site.active_lang == 'ru' %}
					{{ post.date | date: "%d.%m.%Y" }}
				{% else %}
					{{ post.date | date: "%b %-d, %Y" }}
				{% endif %}
			</span>
  			{{ post.excerpt }}
    	</li>
		{% endif %}
	{% endfor %}
</ul>

