<footer class="site-footer">
	<div class="wrapper">
		{% for my_page in site.pages %}
			{% assign my_page_lang = my_page.lang | append: '' %}
			{% if my_page.type == 'footer' and (my_page.lang == site.active_lang or my_page_lang == '') %}
				{% capture my_page_title %}{% if my_page.shortTitle %}{{ my_page.shortTitle }}{% else %}{{ my_page.title }}{% endif %}{% endcapture %}
				<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{my_page_title}}</a>
			{% endif %}
		{% endfor %}
		<a class="page-link" href="http://prose.io/#csaru/csa.ru/">{{ site.data.i18n[site.active_lang].login }}</a>
	</div>
</footer>
