{% capture site_title %}
	{% assign site_base_url = site.baseurl | append: '/' %}
	{% if page.url == site_base_url %}
		<span class="navbar-brand">{{ site.title }}</span>
	{% else %}
	    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
	{% endif %}
{% endcapture %}
<header>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        		</button>
				{{ site_title }}
			</div>

		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{% for menuItem in site.data.i18n[site.active_lang].menu %}
					{% assign sorted_pages = site.pages | sort: 'weight' %}
					{% for my_page in sorted_pages %}
						{% assign ok1 = false %}
						{% assign ok2 = false %}
						{% assign my_page_lang = my_page.lang | append: '' %}
						{% if my_page.type == menuItem.contentType %}
							{% if my_page_lang == site.active_lang %}
								{% assign ok1 = true %}
							{% endif %}
							{% if my_page_lang == '' %}
								{% assign ok1 = true %}
							{% endif %}
						{% endif %}
						{% if site.identifier == 'csa' %}
							{% assign ok2 = true %}
						{% endif %}
						{% if site.identifier == 'apmath' and my_page.identifier == 'apmath' %}
							{% assign ok2 = true %}
						{% endif %}
						{% if ok1 and ok2 %}
							{% capture my_page_title %}{% if my_page.shortTitle %}{{ my_page.shortTitle }}{% else %}{{ my_page.title }}{% endif %}{% endcapture %}
							{% if my_page_title contains 'i18n.' %}
								{% assign key = my_page_title | replace: 'i18n.', '' %}
								{% assign page_title = site.data.i18n[site.active_lang][key] %}
							{% else %}
								{% assign page_title = my_page_title %}
							{% endif %}
							{% assign my_page_url = my_page.url | prepend: site.baseurl %}
							{% if page.url == my_page_url %}
								<li class="active"><a href="#">{{ page_title }}</a></li>
							{% else %}
								<li><a href="{{ my_page_url }}">{{ page_title }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Language
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						{% for tongue in site.languages %}
							{% if tongue == site.active_lang %}
								{% assign lang_class = 'class="glyphicon glyphicon-ok"' %}
							{% else %}
								{% assign lang_class = 'class="glyphicon glyphicon-ok transparent"' %}
							{% endif %}
							{% capture lang_url %}
								{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}
							{% endcapture %}
							<li><a href="{{ lang_url }}"><span {{ lang_class }}>&nbsp;</span>{{ site.data.i18n[tongue].langname }}</a></li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
		</div>
    </nav>
</header>
