---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

	<header>
		<h1 itemprop="name headline">{{ page.title }}</h1>
		<p>
			<time datetime="{{ page.date }}" itemprop="datePublished">
				{% if site.active_lang == 'ru' %}
					{{ page.date | date: "%d.%m.%Y" }}
				{% else %}
					{{ page.date | date: "%b %-d, %Y" }}
				{% endif %}
			</time>
			{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
		</p>
	</header>
	
	<div itemprop="articleBody">
		{{ content }}
	</div>

</article>
